.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:#f2f2f2;
}
.SideMenu{
    height: 100%;
}
.SideMenuVertical{
    height: 100%;
    background-color:#9fd3c7;

}